.item {
    width: 500px;
    height: 200px;
    margin: 20px 0;
}
.info {
  display:flex;
  height: 100%;
}
.info img {
    height: 100%;
}

.description {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  border: none;
  width: 50px;
  height: 30px;
  text-align: center;
}

button {
  border: none;
  background-color: orangered;
  color: white;
  width: 30px;
  height: 30px;
}

.warn {
  color: #FF8000;
  font-weight: 700;
}